---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
// Supports weights 200-700
import '@fontsource-variable/oswald';
import '@fontsource-variable/yanone-kaffeesatz';
import { Image } from 'astro:assets';
import  atomo  from '../../public/png/atomoback.png'
import eclipse from '../../public/png/eclipse.png'
import sombra from '../../public/png/sombra.png'
import yerlin from '../../public/yerlinspace4.svg'



---

<Layout title="YerlinSpace🚀">

  <main class="
      w-full
      h-screen
      bg-gradient-to-b from-white via-white to-black 
      dark:bg-gradient-to-b dark:from-gray-800 dark:via-gray-900 dark:to-black
    " > 
    <Navbar/>
      <div class="
      flex
      flex-col
      justify-center
      items-center
      relative
      sm:mt-[30%]
      lg:mt-10
      
      ">
      
      <Image  src={ atomo } alt='atomoback' 
      class=" w-[30%] absolute z-0 " />

      <Image  src={ eclipse } alt='atomoback' 
      class="atomo2 w-[35%] absolute z-1 " />

      <Image  src={ sombra } alt='atomoback' 
      class="atomo3 mt-[1%] ml-[1%] w-[28%] absolute z-2 " />

      <Image  src={ yerlin } alt='atomoback' 
      class="atomo3 w-[28%] absolute z-3 " />

     
      
       
      </div>
      
      </div>
      
  </main>
  
  </Layout>
  
  
  <style>
  html {
    overflow: hidden;
  }
  
  .atomo2{
    opacity: 0; /* Inicia con opacidad 0 */
    animation: fadeIn 4s forwards;
    filter:blur(50px) /* Animación de fade-in */
  }
  .atomo3{
    opacity: 0; /* Inicia con opacidad 0 */
    animation: fadeIn 7s forwards; 
  }
  

  
  @keyframes fadeIn {
  0% {
    opacity: 0;
    
  }
  100% {
    opacity: 1;
    
  }
}

@keyframes yerlinspace {
  0% {
    opacity: 0;
    filter: blur(10px); /* Inicia con desenfoque */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5); /* Inicia con sombra */
  }
  100% {
    opacity: 1;
    
    box-shadow: 0 0 0 rgba(0, 0, 0, 0); /* Termina sin sombra */
  }
}
  
  @media (max-width: 640px) {
    .welcome {
      font-size: 1.5rem; /* Ajusta el tamaño de fuente para dispositivos pequeños */
    }
  }
  </style>