---
import { Image } from "astro:assets";
import logo from "../../public/favicon5.svg";

const anim = {
  old: {
    name: 'fadeIn',
    duration: '0.2s',
    easing: 'linear',
    fillMode: 'forwards',
  },
  new: {
    name: 'fadeOut',
    duration: '0.3s',
    easing: 'linear',
    fillMode: 'backwards',
  }
};

const myFade = {
  forwards: anim,
  backwards: anim,
};
---

<script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" defer></script>

<div transition:animate={myFade} class="h-div w-full  md:h-64 lg:h-72 text-gray-800 bg-white dark:text-gray-200 dark:bg-gray-800 dark:bg-gradient-to-b from-gray-800 via-gray-900 to-black " 
     style="box-shadow: 0 4px 6px rgba(255, 255, 255, 0.1);" 
     x-data="{ open: false }">
  <div class="flex flex-col items-end justify-end max-w-screen-xl px-4 mx-auto lg:px-8 h-full ">
    <div class="p-4 flex flex-row items-end justify-between w-full">
      <div>
        <a href="/" class="text-lg text-white font-semibold tracking-widest uppercase rounded-lg dark-mode:text-white focus:outline-none focus:shadow-outline flex items-center">
          <Image src={logo} alt="" />
        </a>
      </div>

      <button class="justify-end md:hidden rounded-lg focus:outline-none focus:shadow-outline" @click="open = !open">
        <svg fill="currentColor" viewBox="0 0 20 20" class="w-6 h-6">
          <path x-show="!open" fill-rule="evenodd" d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM9 15a1 1 0 011-1h6a1 1 0 110 2h-6a1 1 0 01-1-1z" clip-rule="evenodd"></path>
          <path x-show="open" fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd"></path>
        </svg>
      </button>

      <nav :class="{'flex': open, 'hidden': !open}" class="flex-row flex-grow justify-end pb-2 md:pb-0 hidden md:flex md:justify-end md:flex-row md:gap-2">

        <a href="/aboutme"
        class="relative inline-block px-4 py-2 md:px-1 text-sm text-gray-800 border-b-2
               hover:text-gray-400 font-bold bg-transparent hover:border-b-4 transition-all duration-200 
               md:text-center 
               dark:text-white dark:hover:text-gray-500 dark:hover:border-b-4 transition-all duration-200 
               {{ currentPath === 'aboutme' ? 'active' : '' }}">
       ABOUT ME
     </a>
     <a href="/projects"
           class="relative inline-block px-4 py-2 md:px-1 text-sm text-gray-800 border-b-2
                  hover:text-gray-400 font-bold bg-transparent hover:border-b-4 transition-all duration-200 
                  md:text-center 
                  dark:text-white dark:hover:text-gray-500 dark:hover:border-b-4 transition-all duration-200 
                  {{ currentPath === 'projects' ? 'active' : '' }}">
          PROJECTS
        </a>

        <a href="/contact"
        class="relative inline-block px-4 py-2 md:px-1 text-sm text-gray-800 border-b-2
               hover:text-gray-400 font-bold bg-transparent hover:border-b-4 transition-all duration-200 
               md:text-center 
               dark:text-white dark:hover:text-gray-500 dark:hover:border-b-4 transition-all duration-200 
               {{ currentPath === 'contact' ? 'active' : '' }}">
       CONTACT
     </a>
        
      </nav>
    </div>
  </div>
</div>

<style>
  @media (max-width: 640px) {
    
    .h-div{
      height: 250px
    }
  }
</style>